* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.danger {
  color: #dd3445;
}

body {
  background-color: #FAFEFA;
}

.login-row {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.logo-login-container {
  height: 100vh;
  height: 100vh;
  /* border: solid red 1px; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .logo-login {
    /* border: solid black 1px; */
    
    justify-content: center;

    .plantate-logo {
      width: 118px;
    }
  }

  .logo-name {
    color: #90CF8E;
  }

  .motto {
    color: #198754;
  }
}

.login-form-container {
  /* border: solid red 1px; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .login-card-container {
    border-radius: 20px;
    box-shadow: 5px 10px 15px -3px rgba(0,0,0,0.3);
    background-color: #fcfffc;
    
    legend {
      font-weight: bold;
      color: #198754;
    }

    .password-field {
      position:relative;

      button {
        position: absolute;
        top: 25%;
        right: 3%;
        background: none;
        padding: none;
        margin: none;
        border: none;
      }

      /* span:hover {
        cursor: pointer;
      } */
    }

    .submit-container {
      display: flex;
      justify-content: end;

      .btn {
        width: 100%;
      }
    }

    .redirect {

      a {
        text-decoration: none;
      }
    }
    
  }
}

.add-item {
  visibility: visible;
  img {
    position: fixed;
    bottom: 45px;
    right: 45px;
    z-index: 25;
  }

  img:hover {
    cursor: pointer;
    background-color: #90CF8E;
    border: 1px solid #90CF8E;
    border-radius: 50px;
  }
}

main {
  background-color: #FAFEFA;
}

nav {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  
  .container-fluid {
    padding-left: 50px;
    padding-right: 50px;
    background-color: #EEFFEE;

    .navbar-brand {
      display: flex;
      align-items: center;
      font-size: 50px;
      color: #90CF8E;

      img {
        padding-right: 15px;
      }
    }

    .navbar-collapse {
      justify-content: right;
      font-size: 20px;

      .nav-item > .nav-link {
        display: flex;
        align-items: center;
        padding-left: 30px;

        img {
          margin-right: 10px;
        }
      }
    }
  }
}

.container-modified {

  .plant-collection-row {
   
    .col {
      padding: 0;
      width: 238px;
      height: 276px;
      border-radius: 16px;
      box-shadow: 5px 10px 15px -3px rgba(0,0,0,0.3);
      position: relative;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        border-radius: 16px;
        display: block;
        object-fit: cover;
      }

      .overlay {
        position: absolute;
        bottom: 0%;
        width: 100%;
        z-index: 10;
        height: 40%;
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
        border-bottom-left-radius: 16px;
        border-bottom-right-radius: 16px;
      }

      .item-icon {
        position: absolute;
        top: 2%;
        right: 2%;

        img {
          display: none;
          width: 40px;
        }
      }
      
      .col-item-text {
        z-index: 15;
        padding-left: 10px;
        padding-right: 10px;
        position: absolute;
        bottom: 0%;
        color: #EEFFEE;
        width: 100%;
        h3 {
          font-size: 24px;
        }

        p {
          font-size: 16px;
        }
      }
    }

    .col:hover {
      border: solid #90CF8E 5px;
      border-radius: 21px;
      cursor: pointer;
      .item-icon > img {
        display: block;
      }

      .item-icon > img:hover {
        border: solid #e48186 1px;
        border-radius: 50px;
        background-color: #e48186;
        cursor: pointer;
      }
    }
  }
}

.modal-body {
  #outputs {
    width: 100%;
    display: flex;
    justify-content: center;

    .picture-placeholder, #video-stream-placeholder {
      height: 250px;
      width: 250px;
      border: #90CF8E solid 5px;
      margin-bottom: 20px;
      object-fit: cover;
    }
  }

  .inputs {
    display: flex;
    flex-direction: column;
  }
}



.back-button:hover {
  background-color: #90CF8E;
  border: 5px solid #90CF8E;
  border-radius: 50px;
  cursor: pointer;
  width: 64px;
}
.specific-plant {
  display: flex;
  justify-content: center;
  
  .plant-holder {
    padding: 0;
    width: 250px;
    height: 275px;
    border-radius: 16px;
    box-shadow: 5px 10px 15px -3px rgba(0,0,0,0.3);
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 16px;
    }
  }
  
  .plant-description {
    padding-left: 50px;
    padding-right: 50px;

    h2 {
      font-size: 36px;
      font-weight: bold;
    }

    p {
      margin-bottom: 0;
      font-size: 20px;
    }
  }
}

#tips {
  font-weight: bold;
  font-size: 32px;
}

.gemini-tip {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
}