{% extends 'base-template.html' %}
{% block additionalCss %}
{% endblock %}
{% block home %}
<a class="nav-link" href="{{ url_for('index') }}">Home</a>
{% endblock %}
{% block gemini_doctor %}
<a class="nav-link active" aria-current="page" href="">
  <img src="{{ url_for('static', filename='google-gemini-icon.svg' ) }}" height="30" alt="ai icon">
  Gemini Doctor
</a>
{% endblock %}
{% block plant_collection %}
<a class="nav-link"  href="{{ url_for('plant_collection') }}">Plant Collection</a>
{% endblock %}